

.button_box2 {
        margin:10px auto;
    }
    
    .cf:before, .cf:after{
        content:"";
        display:table;
    }

    .cf:after{
        clear:both;
    }

    .cf{
        zoom:1;
    }
    
    
    .form {
        width: 330px;
        height: 40px;
        padding: 15px;
        background: #555;
        border-radius: 10px;
        box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
        position: absolute;
        left: 50%;
        top: 30px;
        transform: translateX(-50%);
        z-index: 56;

    }


    /*.form input {*/
        /*width: 210px;*/
        /*height: 20px;*/
        /*padding: 10px 5px;*/
        /*float: left;*/
        /*font: bold 15px 'Raleway', sans-serif;*/
        /*border: 0;*/
        /*background: #eee;*/
        /*border-radius: 3px 0 0 3px;*/
    /*}*/

    /*.form input:focus {*/
        /*outline: 0;*/
        /*background: #fff;*/
        /*box-shadow: 0 0 2px rgba(0,0,0,.8) inset;*/
    /*}*/

    /*.form input::-webkit-input-placeholder {*/
        /*color: #999;*/
        /*font-weight: normal;*/
        /*font-style: italic;*/
    /*}*/

    /*.form input:-moz-placeholder {*/
        /*color: #999;*/
        /*font-weight: normal;*/
        /*font-style: italic;*/
    /*}*/

    /*.form input:-ms-input-placeholder {*/
        /*color: #999;*/
        /*font-weight: normal;*/
        /*font-style: italic;*/
    /*}*/

    .form button {
        overflow: visible;
        position: relative;
        float: right;
        border: 0;
        padding: 0;
        cursor: pointer;
        height: 40px;
        width: 110px;
        font: bold 15px/40px 'Raleway', sans-serif;
        color: #fff;
        background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
        border-radius: 0 3px 3px 0;
        text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
        outline: none;
        transition: all .3s;
        z-index: 6;
    }

    .form button:hover{
        background-image: linear-gradient(to top, #0fa8a8b6 0%, #2c075ad0 100%);
    }

    .form button:active {
        background-image: linear-gradient(to top, #0fa8a8b6 0%, #2c075ad0 100%);
        transform: translateY(1px);
        outline: none;
    }

    .form button:before {
        content: '';
        position: absolute;
        border-width: 8px 8px 8px 0;
        border-style: solid solid solid none;
        border-color: transparent #30cfd0 transparent;
        top: 12px;
        left: -6px;
    }

    .form button:hover:before {
        border-right-color: #30cfd0;
    }

    .form button:focus:before {
        border-right-color: #30cfd0;
    }

    .form button::-moz-focus-inner {
        border: 0;
        padding: 0;
    }